[submodule "themes\\hugo-profile"]
	path = themes\\hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "soho"]
	path = soho
	url = https://github.com/alexandrevicenzi/soho.git
